      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>All the Models in All the Markets</h1>
        <p><strong>One-step clean-up and publish.</strong> Connect to all the STL marketplaces and
        upload your files. We’ll clean them up and post them online.</p>

        <div style="margin: auto auto; text-align:center">
          <p>
          <a class="btn btn-lg btn-primary" href="/submissions/new" role="button">Add yours &raquo;</a>
          </p>
          <br />
          <%= javascript_include_tag "https://embed.github.com/view/3d/weblaws/botproof/master/meshes/fitbit%20si%20bracelet.stl?height=400&width=400" %>
        </div>
      </div>
