      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>All the Models in All the Markets</h1>
        <p><strong>One-step clean-up and publish.</strong> Connect to all the STL marketplaces and
        upload your files. We’ll clean them up and post them online.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Add yours &raquo;</a>
        </p>
      </div>
